src/Resources/Schemas/CL1CO_CONBANCORIESGOSO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.tibco.com/schemas/src/Resources/Schemas/Schema.xsd"
	 xmlns:ns0="http://itg.santander.cl/AppEvaluadorRiesgo_Persona/Resources/Schemas/Informacion.xsd"
	 targetNamespace="http://www.tibco.com/schemas/src/Resources/Schemas/Schema.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://itg.santander.cl/AppEvaluadorRiesgo_Persona/Resources/Schemas/Informacion.xsd" schemaLocation="Informacion.xsd"/>
	<xs:element name="inputSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="IN_COD_CNL_LGC" type="xs:string"/>
				<xs:element name="IN_COD_FNC" type="xs:string"/>
				<xs:element name="IN_COD_TPO_FNC" type="xs:string"/>
				<xs:element name="IN_TPO_MND" type="xs:string"/>
				<xs:element name="IN_COD_SGM" type="xs:string"/>
				<xs:element name="COD_BCO_RSG" type="xs:string"/>
				<xs:element name="nro_doc_cgo" type="xs:string"/>
				<xs:element name="nro_cta_cgo_usr_innet" type="xs:string"/>
				<xs:element name="nro_doc_abn" type="xs:string"/>
				<xs:element name="nro_cta_abn" type="xs:string"/>
				<xs:element name="mnt_tef" type="xs:string"/>
				<xs:element name="fch_hra_cgo" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:Informacion"/>
				<xs:element name="OTP" type="xs:string"/>
				<xs:element name="MENSAJE" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>