src/Resources/Schemas/SPORAC_ALTMontoTEFRealizada.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://itg.santander.cl/AppEvaluadorRiesgo_Persona/Resources/Schemas/SPORAC_ALTMontoTEFRealizada.xsd"
	 xmlns:ns0="http://itg.santander.cl/AppEvaluadorRiesgo_Persona/Resources/Schemas/Informacion.xsd"
	 targetNamespace="http://itg.santander.cl/AppEvaluadorRiesgo_Persona/Resources/Schemas/SPORAC_ALTMontoTEFRealizada.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://itg.santander.cl/AppEvaluadorRiesgo_Persona/Resources/Schemas/Informacion.xsd" schemaLocation="Informacion.xsd"/>
	<xs:element name="inputSet">
		<xs:complexType>
			<xs:sequence>
            <xs:element name="IN_COD_CNL_LGC" type="xs:string"/>
            <xs:element name="IN_COD_FNC" type="xs:string"/>
            <xs:element name="IN_COD_TPO_FNC" type="xs:string"/>
            <xs:element name="IN_RUT_CLNTE" type="xs:string"/>
            <xs:element name="IN_FEC_TRNCN" type="xs:string"/>
            <xs:element name="IN_MNT_TRNCN" type="xs:string"/>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="outputSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns0:Informacion"/>
				<xs:element name="WS_WARNING" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>